/*

                                      .,,,;;,'''..
                                  .'','...     ..',,,.
                                .,,,,,,',,',;;:;,.  .,l,
                               .,',.     ...     ,;,   :l.
                              ':;.    .'.:do;;.    .c   ol;'.
       ';;'                   ;.;    ', .dkl';,    .c   :; .'.',::,,'''.
      ',,;;;,.                ; .,'     .'''.    .'.   .d;''.''''.
     .oxddl;::,,.             ',  .'''.   .... .'.   ,:;..
      .'cOX0OOkdoc.            .,'.   .. .....     'lc.
     .:;,,::co0XOko'              ....''..'.'''''''.
     .dxk0KKdc:cdOXKl............. .. ..,c....
      .',lxOOxl:'':xkl,',......'....    ,'.
           .';:oo:...                        .
                .cd,      ╔═╗┌┬┐┬┌┬┐┌─┐┬─┐    .
                  .l;     ║╣  │││ │ │ │├┬┘    '
                    'l.   ╚═╝─┴┘┴ ┴ └─┘┴└─   '.
                     .o.                   ...
                      .''''','.;:''.........
                           .'  .l
                          .:.   l'
                         .:.    .l.
                        .x:      :k;,.
                        cxlc;    cdc,,;;.
                       'l :..   .c  ,
                       o.
                      .,

              ╦ ╦┬ ┬┌┐ ┬─┐┬┌┬┐  ╔═╗┌┐  ┬┌─┐┌─┐┌┬┐┌─┐
              ╠═╣└┬┘├┴┐├┬┘│ ││  ║ ║├┴┐ │├┤ │   │ └─┐
              ╩ ╩ ┴ └─┘┴└─┴─┴┘  ╚═╝└─┘└┘└─┘└─┘ ┴ └─┘ (not even) Alpha


 *
 *
 * Created by Valentin on 10/22/14.
 *
 * Copyright (c) 2015 Valentin Heun
 *
 * All ascii characters above must be included in any redistribution.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *

 **********************************************************************************************************************
 ******************************************** TODOS *******************************************************************
 **********************************************************************************************************************

 **
 * TODO -
 **

 **********************************************************************************************************************
 ******************************************** style content ***********************************************************
 **********************************************************************************************************************/
* {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
   -webkit-user-select: none;
    -webkit-touch-callout:none;
}




body {
    -webkit-transform-style: preserve-3d;
    margin: 0;
    padding: 0;

    /* -webkit-user-select: none;  Disable selection/Copy of UIWebView */
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #ffffff;
}

.main {
    -webkit-transform-style: preserve-3d;
    visibility: hidden;
    z-index: 1;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    border-width: 0px;
    /*-webkit-user-select: none;    Disable selection/Copy of UIWebView */
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.mainProgram {
    -webkit-transform-style: preserve-3d;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    z-index: 2;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}


.mainEditing {
    -webkit-transform-style: preserve-3d;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    border-width: 0px;
    z-index: 99;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.mainCanvas {
    -webkit-transform-style: preserve-3d;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    border-width: 0px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    opacity: 0.5;
    /*background:repeating-linear-gradient(-45deg, transparent, transparent 22px, rgba(1, 255, 1, 0.5) 22px, rgba(1, 255, 1, 0.5) 44px);*/
    /*border: 10px dashed green;*/
    z-index: 2;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    pointer-events:none; /*stops canvas from capturing touches so they propogate to elements behind it*/

}

.mainProgramInvalid {
    -webkit-transform-style: preserve-3d;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    border-width: 0px;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background:repeating-linear-gradient(-45deg, transparent, transparent 22px, rgba(255, 1, 1, 0.5) 22px, rgba(255, 1, 1, 0.5) 44px);
    -webkit-filter: contrast(200%);
    /*border: 10px dashed green;*/
    z-index: 2;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}




.iframe {
    -webkit-transform-style: preserve-3d;
    position: fixed;
    /*  -webkit-user-select: none;  Disable selection/Copy of UIWebView */
  /*  background-color: rgba(0, 0, 0, 0.5);*/
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}
/*
.contentRotation {
    -webkit-transform-style: preserve-3d;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: hidden;
    -webkit-transform: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 0) scale3d(1, 1, 1);

}*/
/*
#consolelog {
    visibility: hidden;
    -webkit-transform-style: preserve-3d;

    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.50);
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}*/
#consolelog {
    display: none;
}

#preferences {
    display: none;
    visibility: hidden;
    -webkit-transform-style: preserve-3d;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #969696;

    -webkit-transform: translateZ(3px);
}


#craftingBoard {
    display: none;
    visibility: hidden;
    -webkit-transform-style: preserve-3d;
    position: fixed;
    /*width: 506px;*/
    width: 568px;
    height: 320px;
    margin: 0;
    padding: 0;
    background-color: rgba(20,20,20,0.5);

    /*-webkit-backdrop-filter: blur(30px);*/

    /*background-color: #969696;*/
    -webkit-user-select: none;
    user-select: none;

    -webkit-transform: translateZ(2px);
    z-index: 10;
}

@keyframes blurVisible {
    0% {
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }
}

@keyframes blurInvisible {
    0% {
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }
    100% {
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
}

.craftingBoardBlur {

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    animation-name: blurVisible;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;

}

.craftingBoardClear {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    animation-name: blurInvisible;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
}



.Interfaces {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
/*
.interfaceSourceURL {
 /*   -webkit-user-select: text;*/
/*}*/

#content1 {
    position: fixed;
    left: 5%;
    top: 7%;
    right: 58%;
    bottom: 10%;

    background-color: #a0a0a0;
}

.PrefTitle {
    position: relative;
    float: left;
    height: 50px;
    width: 50%;
    box-sizing: border-box;
    background-color: #aaaaaa;
}

#content1Padding {
    height: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
}

#content11 {
    padding-top: 5px;
    padding-left: 13px;
    text-align: left;
}

#content12 {
    padding: 5px;
    padding-left: 13px;
    text-align: center;
}

#content13 {
    padding-top: 5px;
    padding-left: 13px;
    text-align: left;
}

#content14 {
    padding: 5px;
    padding-left: 13px;
    text-align: center;
}

#content15 {
    padding-top: 5px;
    padding-left: 13px;
    vertical-align: middle;
    text-align: left;
}

#content16 {
    padding-top: 5px;
    padding-left: 13px;
    text-align: left;
}

#content20 {
    width: 100%;
    height: 55px;
    padding-left: 13px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 3px;
    padding-right: 13px;
    text-align: left;
}

#newURLText {
    font-size: large;
    -webkit-user-select: text;
}

#content30 {
    height: 55px;
    padding-top: 5px;
    padding-left: 13px;
    text-align: left;
}

#content31 {
    height: 55px;
    right:0px;
    padding: 5px;
    padding-left: 0px;

    text-align: center;
}

#content18 {
    height: 320px;
    width: 100%;
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
    text-align: left;
}

#contentPadding {
    height: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
}

#content1title {
    position: fixed;
    left: 5%;
    top: 2%;
    right: 58%;
    bottom: 89%;

    font-size: 18pt;

    text-align: center;
}

#content2 {
    position: fixed;
    left: 47%;
    top: 7%;
    right: 17%;
    bottom: 10%;

    background-color: #a0a0a0;
}

#content2title {
    position: fixed;
    left: 47%;
    top: 2%;
    right: 17%;
    bottom: 89%;

    font-size: 18pt;

    text-align: center;
}

#UIButtons {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    /* right: 18px;
    top: 18px;*/

    /* this is a hack for adding the interface in front of the transformed web interface */
    -webkit-transform: translateZ(3px);
    z-index: 10;
}

#UIButtons.bigPocket > .UIButton {
    visibility: hidden;
}

#UIButtons.bigPocket > #bigPocketButtonDiv {
    visibility: visible;
}

#UIButtons.bigTrash > .UIButton {
    visibility: hidden;
}

#UIButtons.bigTrash > #bigTrashButtonDiv {
    visibility: visible;
}

.UIButton {
    position: fixed;
    width: 60px;
    height: 60px;
    visibility: visible;
}

.clearSky .UIButton {
    opacity: 0;
}

#guiButtonDiv {
    height: 125px;
    right: 0px;
    top: 0px;
}

#freezeButtonDiv {
    right: 0px;
    top: 260px;

}

#guiButtonImage1 {
    right: 0px;
    top:0px;
}

#guiButtonImage2 {
    right: 0px;
    top: 62px;
}

#preferencesButtonDiv {
    right: 0px;
    top: 195px;
}

#reloadButtonDiv {
    right: 0px;
    top: 130px;
    visibility: hidden;
}

#memoryWebButtonDiv {
    right: 0px;
    top: 130px;
    visibility: hidden;
}

#logButtonDiv {
    right: 0px;
    bottom: 176px;
    display: none;
    visibility: hidden;
}

#pocketButtonDiv {
    right: 0px;
    top: 130px;
}

#resetButtonDiv {
    right: 130px;
    top: 0px;
    visibility: hidden;
}

#unconstButtonDiv {
    right: 65px;
    top: 0px;
    visibility: hidden;
}

#bigTrashButtonDiv {
    top: 0px;
    right: 0px;
    width: 60px;
    height: 320px;
    visibility: hidden;
    pointer-events:none;
}

#bigPocketButtonDiv {
    top: 0px;
    right: 0px;
    width: 60px;
    height: 320px;
    visibility: hidden;
}

.memoryBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    z-index: 0;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.memoryBackgroundImage {
    width: 100%;
    height: 100%;
}

.memoryBar {
    margin: 0;
    padding: 0;
    z-index: 5;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

/* TODO: spec interaction between clear sky and pocket
.clearSky .memoryBar {
    visibility: hidden;
}
*/

.memoryContainer, #overlay.overlayMemory, .memory, .element-template {
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 3px solid #00FFFF;
    width: calc(20vw - 18px);
    height: calc(20vw - 18px);
    overflow: hidden;
}

#overlay.overlayMemory {
    background-position: center center;
    background-size: cover;
}

.element-template {
    border-color: white;
    margin: 3px;
    overflow: hidden;
}

.memoryContainer.memoryPointer {
    box-sizing: border-box;
    border: 3px solid #00FFFF;
    width: 120px;
    height: 120px;
    position: absolute;
    margin-left: -60px;
    margin-top: -60px;
}

.memoryContainer {
    margin: 3px;
}

#overlay.overlayMemory, .memoryWeb > .memoryContainer {
    border-radius: 0;
    position: absolute;
    margin-left: calc(-0.5 * (20vw - 18px));
    margin-top: calc(-0.5 * (20vw - 18px));
}

.memoryDragContainer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 4;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,2px);
}

.memoryPointerContainer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.memory {
    display: block;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    object-fit: cover;
    object-position: center;
}

.memoryContainer > .memory {
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overlay {
    display: none;
    pointer-events: none;
    position: fixed;

    box-sizing: border-box;
    width: 60px;
    height: 60px;
    left: 0px;
    top: 0px;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;

    border: 4px solid #01fffc;
    border-radius: 60px;

    /* this is a hack for adding the interface in front of the transformed web interface */
    z-index: 3;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(6px);
}

#overlay.overlayPositive,
#overlay.overlayNegative,
#overlay.overlayAction {
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    border-radius: 120px;
}

#overlay.overlayPositive {
  border-color: #3AF431;
}

#overlay.overlayNegative {
  border-color: #FF019F;
}

#overlay.overlayAction {
  border-color: #F9F90A;
}

.objectEntry {
    position: relative;
    float: left;
    height: 20px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    display: table-cell;
    background-color: #a0a0a0;
    -webkit-transform-style: preserve-3d;
}

.objectName {
    width: 34%;
}

.objectIP {
    width: 30%;
}

.objectVersion {
    width: 14%;
}

.objectIO {
    width: 11%;
}

.objectLinks {
    width: 11%;
}

.Canvas {
    visibility: visible;
    -webkit-transform-style: preserve-3d;
    margin: 0;
    padding: 0;
    z-index: 0;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

/*
*
*
Logic Interface CSS

*/

@keyframes scaleIn {
    0% {
        visibility: visible;
        -webkit-transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.0);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes scaleOut {
    0% {
        -webkit-transform: scale(1.0);
        visibility: visible;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        visibility: hidden;
        opacity: 0;
    }
}

.scaleIn {
    visibility: visible;
    animation-name: scaleIn;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;
}

.scaleOut {
    visibility: hidden;
    animation-name: scaleOut;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
}

#blocks {
    position: absolute;
    top: 0;
    left: 0;
}

#blockPlaceholdersContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.blockPlaceholderRow {
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}

@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity: 0;
    }
}

.visibleFadeIn {
    opacity: 1;

    animation-name: fadeIn;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;
}

.invisibleFadeOut {
    opacity:1;

    animation-name: fadeOut;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
}

.blockPlaceholder {
    width: 92px;
    height:100%;
    margin-right: 46px;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.blockPlaceholderLastCol {
    width: 92px;
    height:100%;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.blockPlaceholderLabel {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.columnHighlight {
    width: 92px;
    height:100%;
    margin-right: 46px;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.columnHighlightLastCol {
    width: 92px;
    height:100%;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#datacraftingCanvas {
    position: absolute;
    left: 0;
    top: 0;
}

#datacraftingEventDiv {
  position: absolute;
  left: 0;
  top: 0;
  width: 568px;
  height: 320px;
}

.blockDivPlaced {
    box-sizing: border-box;
  position: absolute;
  color: white;
  user-select:none;
  -webkit-user-select:none;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  background-color: rgb(73,73,73);
  border: 2px solid white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.blockDivHighlighted {
  position: absolute;
  color: white;
  user-select:none;
  -webkit-user-select:none;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  background-color: rgb(73,73,73);
  border: 2px solid white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* block settings */

#blockSettingsContainer {
  background-color: #B7B7B7; /*#969696;*/
  position: absolute;
  left: 0;
  top: 0;
  width: 506px;
  height: 320px;
}

/* block menu */

#menuContainer {
  /*background-color: #B7B7B7; !*#969696;*!*/
  position: absolute;
  left: 0;
  top: 0;
  width: 506px;
  height: 320px;
}

#menuBlockContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 320px;
}

#menuSideContainer {
  position: absolute;
  /*left: 400px;*/
  left: 398px;
  top: 0;
  width: 106px;
  height: 320px;
}

.menuBlock {
    box-sizing: border-box;
  width: 92px;
  height: 46px;
  display: inline-block;
  background-color: rgb(73,73,73);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 2px white;
  margin: 3.5px;
}

.menuBlockContents {
  width: 100%;
  height: 100%;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  -webkit-box-orient:vertical;
  user-select:none;
  -webkit-user-select:none;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.blockIcon {
  text-align: center;
    width: 100%;
   /* height: 100%;*/
    overflow: hidden;
  /*height: 20px;*/
  /*width: 75%;*/
/*  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;*/
  user-select:none;
  -webkit-user-select:none;
}

.blockBox {
    display: inline-block;
}

.blockTitle {
  /*display: inline-block;*/
  text-align: center;
}

.blockMoveDiv {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.menuTab {
  width: 106px;
  height: 59.5px;
  margin-top: 3.5px;
  margin-bottom: 3.5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 2px rgb(0, 255, 255);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.menuTabSelected {
  width: 106px;
  height: 59.5px;
  margin-top: 3.5px;
  margin-bottom: 3.5px;
  background-color: rgba(0, 255, 255, 0.4);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 2px rgb(0, 255, 255);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.menuTabIcon {
  height: 75%;
  -webkit-filter: invert(100%);
}

.blockDivMovingAbleBorder {
    border: 2px solid rgb(0,255,0);
}

.blockDivMovingUnableBorder {
    border: 2px solid rgb(255,0,124);
}

.blockDivMovingSaveOrDeletableBorder {
    border: 2px solid rgb(255,255,0);
}

.blockDivMovingAble {
    /*border: 2px solid rgb(0,255,0);*/
    background: repeating-linear-gradient(-45deg, rgb(73, 73, 73), rgb(73, 73, 73) 16px, rgb(0, 255, 0) 16px, rgb(0, 255, 0) 32px);
}

.blockDivMovingUnable {
    /*border: 2px solid rgb(255,0,124);*/
    background: repeating-linear-gradient(-45deg, rgb(73, 73, 73), rgb(73, 73, 73) 16px, rgb(255,0,124) 16px, rgb(255,0,124) 32px);
}

.blockDivMovingSaveOrDeletable {
    /*border: 2px solid rgb(255,255,0);*/
    background: repeating-linear-gradient(-45deg, rgb(73, 73, 73), rgb(73, 73, 73) 16px, rgb(255,255,0) 16px, rgb(255,255,0) 32px);
}

.memoryWeb {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 4;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    background-color: rgba(17, 55, 55, 0.7);
}

.pocket {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(3px); /* Above web interfaces, below side buttons */
    background-color: rgba(17, 55, 55, 0.7);
    display: none;
}

.pocket.pocketShown {
    display: block;
}

.palette {
    width: calc(100% - 10vw);
    padding-top: 16px;
}

.palette-element {
    border: 0;
    transform-origin: 0 0;
    pointer-events: none;
}

