#UIButtons {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    /* right: 18px;
    top: 18px;*/

    /* this is a hack for adding the interface in front of the transformed web interface */
    -webkit-transform: translateZ(10px);
    z-index: 10;
}
#mainButton {
    position: fixed;
    width: 60px;
    height: 125px;
    right: 0px;
    top: 0px;
    visibility: visible;
}
#guiButtonDiv {
    position: fixed;
    width: 60px;
    height: 62px;
    right: 0px;
    top: 0px;
    visibility: hidden;
    z-index: 20;
}
#logicButtonDiv {
    position: fixed;
    width: 60px;
    height: 62px;
    right: 0px;
    top: 63px;
    visibility: hidden;
    z-index: 20;
}
#backButton {
    position: fixed;
    width: 60px;
    height: 125px;
    right: 0px;
    top: 0px;
    visibility: hidden;
}
#backButtonDiv {
    position: fixed;
    width: 60px;
    height: 125px;
    right: 0px;
    top: 0px;
    visibility: hidden;
    z-index: 20;
}
#freezeButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 260px;
    visibility: hidden;
}
#freezeButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 260px;
    visibility: hidden;
    z-index: 20;
}
#settingButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 195px;
    visibility: hidden;
}
#settingButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 195px;
    visibility: hidden;
    z-index: 20;
}
#logicSettingButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 195px;
    visibility: hidden;
}
#logicSettingButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 195px;
    visibility: hidden;
    z-index: 20;
}
#pocketButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 130px;
    visibility: hidden;
}
#pocketButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 130px;
    visibility: hidden;
    z-index: 20;
}
#logicPocketButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 130px;
    visibility: hidden;
}
#logicPocketButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 130px;
    visibility: hidden;
    z-index: 20;
}
#resetButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 130px;
    top: 0px;
    visibility: hidden;
}
#resetButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 130px;
    top: 0px;
    visibility: hidden;
    z-index: 20;
}
#unconstrainedButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 65px;
    top: 0px;
    visibility: hidden;
}
#unconstrainedButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 65px;
    top: 0px;
    visibility: hidden;
    z-index: 20;
}

#lockButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 65px;
    top: 260px;
    visibility: hidden;
}
#lockButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 65px;
    top: 260px;
    visibility: hidden;
    z-index: 20;
}
#halflockButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 130px;
    top: 260px;
    visibility: hidden;
}
#halflockButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 130px;
    top: 260px;
    visibility: hidden;
    z-index: 20;
}
#unlockButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 195px;
    top: 260px;
    visibility: hidden;
}
#unlockButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 195px;
    top: 260px;
    visibility: hidden;
    z-index: 20;
}

#bigTrashButton {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 320px;
    pointer-events:none;
    visibility: hidden;
}
#bigTrashButtonDiv {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 320px;
    pointer-events:none;
    visibility: hidden;
    z-index: 20;
}
#bigPocketButton {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 320px;
    visibility: hidden;
}
#bigPocketButtonDiv {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 320px;
    visibility: hidden;
    z-index: 20;
}

/* REALITY */
#realityGuiButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 0px;
    visibility: hidden;
    z-index: 20;
}
#realityGuiButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 0px;
    visibility: hidden;
}
#realityInfoButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 65px;
    top: 0px;
    visibility: hidden;
    z-index: 20;
}
#realityInfoButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 65px;
    top: 0px;
    visibility: hidden;
}
#realityTagButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 65px;
    visibility: hidden;
}
#realityTagButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 65px;
    visibility: hidden;
    z-index: 20;
}
#realitySearchButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 130px;
    visibility: hidden;
}
#realitySearchButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 130px;
    visibility: hidden;
    z-index: 20;
}
#realityWorkButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 260px;
    visibility: hidden;
}
#realityWorkButtonDiv {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 260px;
    visibility: hidden;
    z-index: 20;
}

/***
 * COLORS
 */

.colorBackground {
    background-color: #00FFFF;
}
.blue{fill:#00FFFF;}
.green{fill:#00FF00;}
.red{fill:#FF007C;}
.clearSky{opacity: 0.0;}
.inactive{opacity:0; touch-action: none}
.active{opacity:0.3; touch-action: none}
.touched{opacity:0.6; touch-action: none}



.searchCell {
    margin-top: 5px; margin-left: 5px;
    height: 34px; width: 160px; -webkit-transform: translateZ(9px);
    display: inline-table; background-color: rgba(0,255,255,0.1);
}

.searchItem {
    display: table-cell; width: 33px;
}

.searchText {
    display: table-cell; padding-left: 5px; text-align: left; height: 33px; overflow: hidden; vertical-align: middle;
    font-family: Helvetica Neue, Helvetica, sans-serif; font-size:16px; font-weight: bold;

}